{{ define "main" }}
<div class="bg-white dark:bg-zinc-800 mx-3 sm:mx-[5%] md:mx-[10%] lg:mx-[15%] my-9">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-6xl">{{ .Title }}</h1>
    <div class="mt-6 text-sm leading-8 text-gray-500 dark:text-gray-300">{{ .Content }}</div>

    {{ range .Pages }}
        <div class="max-w-full sm:flex rounded overflow-hidden shadow-xl mt-6">
            <div class="h-48 sm:h-auto sm:w-48 flex-none bg-cover rounded-t sm:rounded-t-none sm:rounded-l text-center overflow-hidden" style="background-image: url('{{ .RelPermalink }}/{{ .Params.thumbnail_image }}')">
            </div>
            <div class="bg-white dark:bg-zinc-800 rounded-b sm:rounded-b-none sm:rounded-r p-4 flex flex-col justify-between leading-normal">
              <div class="mb-8">
                <p class="text-sm text-gray-500 dark:text-gray-300 flex items-center">
                  {{ .Date.Format "January 2, 2006" }}
                </p>
                <div class="text-gray-800 dark:text-gray-200 font-bold text-xl mb-2">{{ .Title }}</div>
                <p class="text-gray-500 dark:text-gray-300 text-base">{{ .Summary }}</p>
              </div>
              <div class="flex items-center">
                <div class="text-sm">
                  <a href="{{ .RelPermalink }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
                    Read More
                  </a>
                </div>
              </div>
              <!-- Tags (future)? 
              <div class="pt-5">
                <span class="inline-block bg-gray-200 dark:bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2">projects</span>
                <span class="inline-block bg-gray-200 dark:bg-gray-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2">web</span>
              </div> 
              -->
            </div>
        </div>
    {{ end }}
</div>
{{ end }}